<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 路径 指向dao层接口-->
<mapper namespace="com.example.demo.Dao.UserMapper" >
  <sql id="Base_Column_List" >
  id,name
  </sql>
          
  <!--resultType 指向entity中对应的实体-->
  <select id="hello" parameterType="map" resultType="com.example.demo.Entity.User">
    select  <include refid="Base_Column_List"></include>
    from person
  </select>
 
 
</mapper>
